body{
    background-color: rgba(2, 1, 31, 0.849);
    text-align: center;
}

.inputtodo{    
    padding: 30px 0;
}

input{
    background-color: rgba(2, 1, 31, 0.250);
    color: white;
    border-color: orangered ;
    padding: 8px;
    border-width: 4px;
    border-style: solid;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    outline:none;    
}

.todoSubmit{
    color: white;
    background-color: orangered;
    border: none;
    border-top-right-radius: 21px;
    padding: 12px;
    border-bottom-right-radius: 21px;
    padding-right: 15px;
}

.todoItem{
    background: linear-gradient(to right,rgb(86, 240, 145),rgb(51, 146, 240)) ;
    color: whitesmoke;
    display: inline-block;
    width: 50%;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    font-weight: 300;
}

.todoItem button{
    float: right;
    margin: 5px;
    background: none;
    color: black;
    font-size: large;
    font-weight: 500;
    font-stretch: wider;
    border: none;
}

.todoItem button:hover{
    size: 20px;
    color: red;
    font-size: larger;
}

h4{
    display: inline;
    padding: 10px;
}

.complete{
    text-decoration: line-through;
}