body{
    background-color: rgba(2, 1, 31, 0.849);
    text-align: center;
}
.inputtodo{
    color: black;
}

input{
    background-color: rgba(2, 1, 31, 0.250);
    color: white;
    border-color: orangered ;
    padding: 8px;
    border-width: 4px;
    border-style: solid;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    outline:none;
    
}
.todoSubmit{
    color: white;
    background-color: orangered;
    border: none;
    border-top-right-radius: 21px;
    padding: 12px;
    border-bottom-right-radius: 21px;
    padding-right: 15px;
}
.todoItem{
    background: linear-gradient(to right,rgba(33, 82, 130, 0.2),rgba(33, 82, 130, 1)) ;
    color: white;
    display: inline-block;
    width: 50%;
    margin: 5px;
}
.todoItem button{
    float: right;
}
h4{
    display: inline;
    padding: 10px;
}